include LICENSE
include README.md
include MANIFEST.in
include requirements/requirements.txt
include src/os_scrapy/VERSION
recursive-include src/os_scrapy/templates *
graft src
graft tests
global-exclude __pycache__
global-exclude *.py[co]

